* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif, system-ui;
    align-items: center;
    min-height: 100vh;
}

.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}


#siteWrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    border: 2px solid #787878; 
    border-radius: 8px;
    padding: 24px;
    gap: 16px;
    background-color: rgb(203, 203, 203);
    box-shadow: 1px 3px 7px rgb(95, 95, 95);
}

button.btn {
    height: 64px;
    background-color: rgb(53, 53, 53);
    color: white;
    font-weight: 500;
    font-size: 2rem;
    border: 0px solid white;
    border-radius: 8px;
    box-shadow: 1px 4px 8px darkgray;
}

.btn:hover {
    opacity: 0.8;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

div#top {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
}

div.horiz {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.model {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.05rem;
}

div#bottom {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 16px;
}

#operations {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

#operations .btn {
    flex: 1 1 48px;
}

#numbers {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    gap: 16px;
}

#numbers .btn {
    flex: 1 1 30%;
}

#display {
    display: flex;
}

label {
    font-size: 1.5rem;
    margin: 8px;
    font-family: "Michroma", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.input {
    outline: none; /*remove browser default */
    text-align: right;
    border: 2px solid #4b4b4b;
    font-size: 3.5rem;
    height: 5rem;
    border-radius: 4px;
    width: 100%;
    margin: 8px 0px;
    background-color: rgb(154, 190, 154);
}

.input:focus {
    border-color: purple;
    
}

button#equals {
    background-color: orange;
    color: black;
    border: 2px solid black;
}

button#delete, button#clear{
    background-color: rgb(233, 85, 48);
    border: 2px solid black;
}